<header class="header" id="header" data-controller="main">
  <nav class="nav container" >
    <a href="#" class="nav__logo">Koki</a>
    <div class="nav__menu" id="nav-menu" data-main-target="navMenu">
      <ul class="nav__list grid">
        <li class="nav__item">
          <a href="#home" class="nav__link">
            <i class="uil uil-home nav__icon"></i>Home
          </a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">
            <i class="uil uil-user nav__icon"></i>About
          </a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link">
            <i class="uil uil-file-info-alt nav__icon"></i>Skills
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <i class="uil uil-briefcase-alt nav__icon"></i>Services
          </a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link">
            <i class="uil uil-scenery nav__icon"></i>Portfolio
          </a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">
            <i class="uil uil-message nav__icon"></i>Contactme
          </a>
        </li>
      </ul>
      <i class="uil uil-times nav__close" id="nav-close" data-action="click->main#navClose"></i>
    </div>
    <div class="nav__btns">
      <div class="nav__toggle" id="nav-toggle" data-action="click->main#navToggle">
        <i class="uil uil-apps"></i>
      </div>
    </div>
  </nav>
</header>
<main class="main" data-controller="main">
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__content grid">
        <div class="home__social">
          <a href="" target="_blank" class="home__social-icon">
            <i class="uil uil-linkedin"></i>
          </a>
          <a href="" target="_blank" class="home__social-icon">
            <i class="uil uil-github"></i>
          </a>
          <a href="" target="_blank" class="home__social-icon">
            <i class="uil uil-twitter"></i>
          </a>
        </div>
        <div class="home__img">
          <%= image_tag "IMG_2723.jpeg", alt: "text" %>
        </div>
        <div class="home__data">
          <h1 class="home__title">Hi, I'm Koki</h1>
          <h3 class="home__subtitle">Web developer</h3>
          <p class="home__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis voluptates corrupti possimus quasi veniam sed, vel delectus adipisci tenetur sequi sint quas quae!</p>
          <a href="#contact" class="button button--flex">
            Contact Me<i class="uil uil-message button__icon"></i>
          </a>
        </div>
      </div>
      <div class="home__scroll">
        <a href="#about" class="home__scroll-button button--flex">
          <i class="uil uil-mouse-alt home__scroll-mouse"></i>
          <span class="home__scroll-name">Scroll down</span>
          <i class="uil uil-arrow-down home-scroll-arrow"></i>
        </a>
      </div>
    </div>
  </section>
  <section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My introduction</span>
    <div class="about__container container grid">
      <%= image_tag "", alt: "text", class:"about__img" %>
      <div class="about__data">
        <p class="about__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam ut dolor eius, veniam unde ipsam asperiores magnam incidunt. Voluptates esse dignissimos quidem officia odit consectetur adipisci nam architecto consequuntur?</p>
        <div class="about__info">
          <div>
            <span class="about__info-title">08+</span>
            <span class="about__info-name">Years <br>
              experience</span>
          </div>
          <div>
            <span class="about__info-title">20+</span>
            <span class="about__info-name">Completed <br>
              projects</span>
          </div>
          <div>
            <span class="about__info-title">05+</span>
            <span class="about__info-name">Companies <br>
              worked</span>
          </div>
        </div>
        <div class="about__buttons">
          <a download="" href="" class="button button--flex">
            Download CV<i class="uil uil-download-alt button-icon"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <%# Skills %>
  <section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">My techniaal level</span>
    <div class="skills__container container grid">
      <div>
        <%# Skill 1 %>
        <div class="skills__content skills__open" data-main-target="skillsContentOpen">
          <div class="skills__header" data-action="click->main#toggleSkillsOpen">
            <i class="uil uil-brackets-curly skills__icon"></i>
            <div>
              <h1 class="skills__title">Frontend developer</h1>
              <span class="skills__subtitle">More than 4 years</span>
            </div>
            <i class="uil uil-angle-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">HTML</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__html"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">CSS</h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__css"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">JavaScript</h3>
                <span class="skills__number">60%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__js"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">React</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__react"></span>
              </div>
            </div>
          </div>
        </div>
        <%# Skill 2 %>
        <div class="skills__content skills__close" data-main-target="skillsContentClose">
          <div class="skills__header" data-action="click->main#toggleSkillsClose">
            <i class="uil uil-server-network skills__icon"></i>
            <div>
              <h1 class="skills__title">Backend developer</h1>
              <span class="skills__subtitle">More than 2 years</span>
            </div>
            <i class="uil uil-angle-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">PHP</h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__php"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Node Js</h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__node"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Firebase</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__firebase"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Python</h3>
                <span class="skills__number">55%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__python"></span>
              </div>
            </div>
          </div>
        </div>
        <%# Skill 3 %>
        <%# <div class="skills__content">
          <div class="skills__header">
            <i class="uil uil-server-network skills__icon"></i>
            <div>
              <h1 class="skills__title">Designer</h1>
              <span class="skills__subtitle">More than 2 years</span>
            </div>
            <i class="uil uil-angle-down"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">PHP</h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__php"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Node Js</h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__node"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Firebase</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__firebase"></span>
              </div>
            </div>
          </div>
        </div> %>
      </div>
    </div>
  </section>
  <%# Qualification %>
  <section class="qualification section">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My personal journey</span>
    <div class="qualification__container container">
      <div class="qualification__tabs">
        <div class="qualification__button button--flex qualification__active" data-action="click->main#educationClick">
          <i class="uil uil-graduation-cap qualification__icon"></i>
          Education
        </div>
        <div class="qualification__button button--flex" data-action="click->main#workClick">
          <i class="uil uil-briefcase-alt qualification__icon"></i>
          Work
        </div>
      </div>
      <div class="qualification__sections">
        <%# Qualification content 1 %>
        <div class="qualification__content qualification__active" data-content id="education" data-main-target="education">
          <%# Qualification 1 %>
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">Computer Enginner</h3>
              <span class="qualification__subtitle">University</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>
                2010 - 2015
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
          <%# Qualification 2 %>
          <div class="qualification__data">
            <div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
            <div>
              <h3 class="qualification__title">Web Design</h3>
              <span class="qualification__subtitle">Spain</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>
                2014 - 2017
              </div>
            </div>
          </div>
          <%# Qualification 3 %>
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">Web Development</h3>
              <span class="qualification__subtitle">Place</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>
                2017 - 2019
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
          <%# Qualification 4 %>
          <div class="qualification__data">
            <div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <%# <span class="qualification__line"></span> %>
            </div>
            <div>
              <h3 class="qualification__title">Master in </h3>
              <span class="qualification__subtitle">Something</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>
                2019 - 2021
              </div>
            </div>
          </div>
        </div>
        <%# Qualification content 2 %>
        <div class="qualification__content" data-content id="work" data-main-target="work">
          <%# Qualification 1 %>
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">Software Enginner</h3>
              <span class="qualification__subtitle">Microsoft - Peru</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>
                2010 - 2015
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
          </div>
          <%# Qualification 2 %>
          <div class="qualification__data">
            <div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <span class="qualification__line"></span>
            </div>
            <div>
              <h3 class="qualification__title">Frontend developer</h3>
              <span class="qualification__subtitle">Spain</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>
                2014 - 2017
              </div>
            </div>
          </div>
          <%# Qualification 3 %>
          <div class="qualification__data">
            <div>
              <h3 class="qualification__title">UI Designer</h3>
              <span class="qualification__subtitle">Figma - Japan</span>
              <div class="qualification__calendar">
                <i class="uil uil-calendar-alt"></i>
                2017 - 2019
              </div>
            </div>
            <div>
              <span class="qualification__rounder"></span>
              <%# <span class="qualification__line"></span> %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services section" id="services">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">What I offer</span>
    <div class="services__container container grid">
      <%# Services 1 %>
      <div class="services__content" data-action="click->main#modalOpen">
        <div>
          <i class="uil uil-web-grid services__icon"></i>
          <h3 class="services__title">UI/UX <br>
            Designer</h3>
        </div>
        <span class="button button--flex button--small button--link services__button">
          View More<i class="uil uil-arrow-right button__icon"></i>
        </span>
        <div class="services__modal" data-main-target="modal">
          <div class="services__modal-content">
            <h4 class="services__modal-title">UI/UX <br>
              Designer</h4>
            <i class="uil uil-times services__modal-close"></i>
            <ul class="services__modal-services grid">
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I develop the user interface.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>Web page development.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I create ux element interactions.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I position your company brand.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <%# Services 2 %>
      <div class="services__content" data-action="click->main#modalOpen">
        <div>
          <i class="uil uil-arrow services__icon"></i>
          <h3 class="services__title">Frontend <br>
            Developer</h3>
        </div>
        <span class="button button--flex button--small button--link services__button">
          View More<i class="uil uil-arrow-right button__icon"></i>
        </span>
        <div class="services__modal" data-main-target="modal">
          <div class="services__modal-content">
            <h4 class="services__modal-title">Frontend <br>
              Developer</h4>
            <i class="uil uil-times services__modal-close"></i>
            <ul class="services__modal-services grid">
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I develop the user interface.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>Web page development.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I create ux element interactions.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I position your company brand.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <%# Services 3 %>
      <div class="services__content" data-action="click->main#modalOpen">
        <div>
          <i class="uil uil-pen services__icon"></i>
          <h3 class="services__title">Branding <br>
            Designer</h3>
        </div>
        <span class="button button--flex button--small button--link services__button">
          View More<i class="uil uil-arrow-right button__icon"></i>
        </span>
        <div class="services__modal" data-main-target="modal">
          <div class="services__modal-content">
            <h4 class="services__modal-title">Branding <br>
              Designer</h4>
            <i class="uil uil-times services__modal-close"></i>
            <ul class="services__modal-services grid">
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I develop the user interface.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>Web page development.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I create ux element interactions.</p>
              </li>
              <li class="services__modal-service">
                <i class="uil uil-check-circle services__modal-icon"></i>
                <p>I position your company brand.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# Portfolio %>
  <section class="portfolio secition" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent work</span>
    <div class="portfolio__container container">
      <div>
        <%# Portfolio1 %>
        <div class="portfolio__content grid">
          <%= image_tag "Screen Shot 2022-08-29 at 23.13.46.png", alt: "text", class:"portfolio__img" %>
          <div class="portfolio__data">
            <h3 class="portfolio__title">Sunnyside</h3>
            <p class="portfolio__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas nostrum aut necessitatibus sequi veniam vel qui, dolorum perferendis at odit tempore iure ipsa repudiandae vero! Doloribus deserunt sed incidunt ab.</p>
            <a href="" class="button button--flex button--small portfolio__button">
              Demo<i class="uil uil-arrow-right button__icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
